.city{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 8px;
    font-size: 15px;
    padding-inline-start: 0px;
    list-style-type:none;
    columns: 4;
  }

a {
    color: #16697a;
    text-decoration: none;
  }
  a:hover {
    border-bottom: 0px;
    color: #fd3a69;
    text-decoration: none;
  }