.weatherForecast canvas{
    color: #27496d;
    display:block;
    height:30px;
margin:0 auto;}

    .weatherForecast {
        text-align: center;
        font-size: 15px;
        font-family: courier;
        color: #27496d;
    }