.forecast canvas{
    color: #27496d;
    display:block;
    height:30px;}

    .weatherForecast{
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        color: #27496d;
    }